In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [4]:
#loading the table
train = pd.read_csv('data/application_train.csv')

train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
train.shape

(307511, 122)

In [6]:
train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [7]:
#table info
train_dtypes_nulls = pd.DataFrame({
    'missing_bureau': train.isnull().sum(),
    'data_types_bureau': train.dtypes
})

train_dtypes_nulls

                              missing_bureau data_types_bureau
SK_ID_CURR                                 0             int64
TARGET                                     0             int64
NAME_CONTRACT_TYPE                         0            object
CODE_GENDER                                0            object
FLAG_OWN_CAR                               0            object
FLAG_OWN_REALTY                            0            object
CNT_CHILDREN                               0             int64
AMT_INCOME_TOTAL                           0           float64
AMT_CREDIT                                 0           float64
AMT_ANNUITY                               12           float64
AMT_GOODS_PRICE                          278           float64
NAME_TYPE_SUITE                         1292            object
NAME_INCOME_TYPE                           0            object
NAME_EDUCATION_TYPE                        0            object
NAME_FAMILY_STATUS                         0            object
NAME_HOUSING_TYPE                          0            object
REGION_POPULATION_RELATIVE                 0           float64
DAYS_BIRTH                                 0             int64
DAYS_EMPLOYED                              0             int64
DAYS_REGISTRATION                          0           float64
DAYS_ID_PUBLISH                            0             int64
OWN_CAR_AGE                           202929           float64
FLAG_MOBIL                                 0             int64
FLAG_EMP_PHONE                             0             int64
FLAG_WORK_PHONE                            0             int64
FLAG_CONT_MOBILE                           0             int64
FLAG_PHONE                                 0             int64
FLAG_EMAIL                                 0             int64
OCCUPATION_TYPE                        96391            object
CNT_FAM_MEMBERS                            2           float64
REGION_RATING_CLIENT                       0             int64
REGION_RATING_CLIENT_W_CITY                0             int64
WEEKDAY_APPR_PROCESS_START                 0            object
HOUR_APPR_PROCESS_START                    0             int64
REG_REGION_NOT_LIVE_REGION                 0             int64
REG_REGION_NOT_WORK_REGION                 0             int64
LIVE_REGION_NOT_WORK_REGION                0             int64
REG_CITY_NOT_LIVE_CITY                     0             int64
REG_CITY_NOT_WORK_CITY                     0             int64
LIVE_CITY_NOT_WORK_CITY                    0             int64
ORGANIZATION_TYPE                          0            object
EXT_SOURCE_1                          173378           float64
EXT_SOURCE_2                             660           float64
EXT_SOURCE_3                           60965           float64
APARTMENTS_AVG                        156061           float64
BASEMENTAREA_AVG                      179943           float64
YEARS_BEGINEXPLUATATION_AVG           150007           float64
YEARS_BUILD_AVG                       204488           float64
COMMONAREA_AVG                        214865           float64
ELEVATORS_AVG                         163891           float64
ENTRANCES_AVG                         154828           float64
FLOORSMAX_AVG                         153020           float64
FLOORSMIN_AVG                         208642           float64
LANDAREA_AVG                          182590           float64
LIVINGAPARTMENTS_AVG                  210199           float64
LIVINGAREA_AVG                        154350           float64
NONLIVINGAPARTMENTS_AVG               213514           float64
NONLIVINGAREA_AVG                     169682           float64
APARTMENTS_MODE                       156061           float64
BASEMENTAREA_MODE                     179943           float64
YEARS_BEGINEXPLUATATION_MODE          150007           float64
YEARS_BUILD_MODE                      204488           float64
COMMONAREA_MODE                       214865           float64
ELEVATORS_MODE                        163891           float64
ENTRANCES_MODE                        154828           float64
FLOORSMAX_MODE                        153020           float64
FLOORSMIN_MODE                        208642           float64
LANDAREA_MODE                         182590           float64
LIVINGAPARTMENTS_MODE                 210199           float64
LIVINGAREA_MODE                       154350           float64
NONLIVINGAPARTMENTS_MODE              213514           float64
NONLIVINGAREA_MODE                    169682           float64
APARTMENTS_MEDI                       156061           float64
BASEMENTAREA_MEDI                     179943           float64
YEARS_BEGINEXPLUATATION_MEDI          150007           float64
YEARS_BUILD_MEDI                      204488           float64
COMMONAREA_MEDI                       214865           float64
ELEVATORS_MEDI                        163891           float64
ENTRANCES_MEDI                        154828           float64
FLOORSMAX_MEDI                        153020           float64
FLOORSMIN_MEDI                        208642           float64
LANDAREA_MEDI                         182590           float64
LIVINGAPARTMENTS_MEDI                 210199           float64
LIVINGAREA_MEDI                       154350           float64
NONLIVINGAPARTMENTS_MEDI              213514           float64
NONLIVINGAREA_MEDI                    169682           float64
FONDKAPREMONT_MODE                    210295            object
HOUSETYPE_MODE                        154297            object
TOTALAREA_MODE                        148431           float64
WALLSMATERIAL_MODE                    156341            object
EMERGENCYSTATE_MODE                   145755            object
OBS_30_CNT_SOCIAL_CIRCLE                1021           float64
DEF_30_CNT_SOCIAL_CIRCLE                1021           float64
OBS_60_CNT_SOCIAL_CIRCLE                1021           float64
DEF_60_CNT_SOCIAL_CIRCLE                1021           float64
DAYS_LAST_PHONE_CHANGE                     1           float64
FLAG_DOCUMENT_2                            0             int64
FLAG_DOCUMENT_3                            0             int64
FLAG_DOCUMENT_4                            0             int64
FLAG_DOCUMENT_5                            0             int64
FLAG_DOCUMENT_6                            0             int64
FLAG_DOCUMENT_7                            0             int64
FLAG_DOCUMENT_8                            0             int64
FLAG_DOCUMENT_9                            0             int64
FLAG_DOCUMENT_10                           0             int64
FLAG_DOCUMENT_11                           0             int64
FLAG_DOCUMENT_12                           0             int64
FLAG_DOCUMENT_13                           0             int64
FLAG_DOCUMENT_14                           0             int64
FLAG_DOCUMENT_15                           0             int64
FLAG_DOCUMENT_16                           0             int64
FLAG_DOCUMENT_17                           0             int64
FLAG_DOCUMENT_18                           0             int64
FLAG_DOCUMENT_19                           0             int64
FLAG_DOCUMENT_20                           0             int64
FLAG_DOCUMENT_21                           0             int64
AMT_REQ_CREDIT_BUREAU_HOUR             41519           float64
AMT_REQ_CREDIT_BUREAU_DAY              41519           float64
AMT_REQ_CREDIT_BUREAU_WEEK             41519           float64
AMT_REQ_CREDIT_BUREAU_MON              41519           float64
AMT_REQ_CREDIT_BUREAU_QRT              41519           float64
AMT_REQ_CREDIT_BUREAU_YEAR             41519           float64

In [8]:
#filling na values
for column in train.columns:
    if 'AVG' in column:
        train[column].fillna(train[column].mean(), inplace=True)
    elif 'MEDI' in column:
        train[column].fillna(train[column].median(), inplace=True)
    elif 'MODE' in column:
        train[column].fillna(train[column].mode()[0], inplace=True)

In [9]:
train.isnull().sum()

SK_ID_CURR                           0
TARGET                               0
NAME_CONTRACT_TYPE                   0
CODE_GENDER                          0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     202929
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                    0
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                       0
BASEMENTAREA_AVG                     0
YEARS_BEGINEXPLUATATION_AVG          0
YEARS_BUILD_AVG                      0
COMMONAREA_AVG                       0
ELEVATORS_AVG                        0
ENTRANCES_AVG                        0
FLOORSMAX_AVG                        0
FLOORSMIN_AVG                        0
LANDAREA_AVG                         0
LIVINGAPARTMENTS_AVG                 0
LIVINGAREA_AVG                       0
NONLIVINGAPARTMENTS_AVG              0
NONLIVINGAREA_AVG                    0
APARTMENTS_MODE                      0
BASEMENTAREA_MODE                    0
YEARS_BEGINEXPLUATATION_MODE         0
YEARS_BUILD_MODE                     0
COMMONAREA_MODE                      0
ELEVATORS_MODE                       0
ENTRANCES_MODE                       0
FLOORSMAX_MODE                       0
FLOORSMIN_MODE                       0
LANDAREA_MODE                        0
LIVINGAPARTMENTS_MODE                0
LIVINGAREA_MODE                      0
NONLIVINGAPARTMENTS_MODE             0
NONLIVINGAREA_MODE                   0
APARTMENTS_MEDI                      0
BASEMENTAREA_MEDI                    0
YEARS_BEGINEXPLUATATION_MEDI         0
YEARS_BUILD_MEDI                     0
COMMONAREA_MEDI                      0
ELEVATORS_MEDI                       0
ENTRANCES_MEDI                       0
FLOORSMAX_MEDI                       0
FLOORSMIN_MEDI                       0
LANDAREA_MEDI                        0
LIVINGAPARTMENTS_MEDI                0
LIVINGAREA_MEDI                      0
NONLIVINGAPARTMENTS_MEDI             0
NONLIVINGAREA_MEDI                   0
FONDKAPREMONT_MODE                   0
HOUSETYPE_MODE                       0
TOTALAREA_MODE                       0
WALLSMATERIAL_MODE                   0
EMERGENCYSTATE_MODE                  0
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

In [10]:
#dropping columns with more than 100 null rows
columns_to_drop = train.columns[(train.isnull().sum() > 100)]

train = train.drop(columns=columns_to_drop)

In [11]:
train.isnull().sum()

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT                       0
AMT_ANNUITY                     12
NAME_INCOME_TYPE                 0
NAME_EDUCATION_TYPE              0
NAME_FAMILY_STATUS               0
NAME_HOUSING_TYPE                0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
DAYS_ID_PUBLISH                  0
FLAG_MOBIL                       0
FLAG_EMP_PHONE                   0
FLAG_WORK_PHONE                  0
FLAG_CONT_MOBILE                 0
FLAG_PHONE                       0
FLAG_EMAIL                       0
CNT_FAM_MEMBERS                  2
REGION_RATING_CLIENT             0
REGION_RATING_CLIENT_W_CITY      0
WEEKDAY_APPR_PROCESS_START       0
HOUR_APPR_PROCESS_START          0
REG_REGION_NOT_LIVE_REGION       0
REG_REGION_NOT_WORK_REGION       0
LIVE_REGION_NOT_WORK_REGION      0
REG_CITY_NOT_LIVE_CITY           0
REG_CITY_NOT_WORK_CITY           0
LIVE_CITY_NOT_WORK_CITY          0
ORGANIZATION_TYPE                0
APARTMENTS_AVG                   0
BASEMENTAREA_AVG                 0
YEARS_BEGINEXPLUATATION_AVG      0
YEARS_BUILD_AVG                  0
COMMONAREA_AVG                   0
ELEVATORS_AVG                    0
ENTRANCES_AVG                    0
FLOORSMAX_AVG                    0
FLOORSMIN_AVG                    0
LANDAREA_AVG                     0
LIVINGAPARTMENTS_AVG             0
LIVINGAREA_AVG                   0
NONLIVINGAPARTMENTS_AVG          0
NONLIVINGAREA_AVG                0
APARTMENTS_MODE                  0
BASEMENTAREA_MODE                0
YEARS_BEGINEXPLUATATION_MODE     0
YEARS_BUILD_MODE                 0
COMMONAREA_MODE                  0
ELEVATORS_MODE                   0
ENTRANCES_MODE                   0
FLOORSMAX_MODE                   0
FLOORSMIN_MODE                   0
LANDAREA_MODE                    0
LIVINGAPARTMENTS_MODE            0
LIVINGAREA_MODE                  0
NONLIVINGAPARTMENTS_MODE         0
NONLIVINGAREA_MODE               0
APARTMENTS_MEDI                  0
BASEMENTAREA_MEDI                0
YEARS_BEGINEXPLUATATION_MEDI     0
YEARS_BUILD_MEDI                 0
COMMONAREA_MEDI                  0
ELEVATORS_MEDI                   0
ENTRANCES_MEDI                   0
FLOORSMAX_MEDI                   0
FLOORSMIN_MEDI                   0
LANDAREA_MEDI                    0
LIVINGAPARTMENTS_MEDI            0
LIVINGAREA_MEDI                  0
NONLIVINGAPARTMENTS_MEDI         0
NONLIVINGAREA_MEDI               0
FONDKAPREMONT_MODE               0
HOUSETYPE_MODE                   0
TOTALAREA_MODE                   0
WALLSMATERIAL_MODE               0
EMERGENCYSTATE_MODE              0
DAYS_LAST_PHONE_CHANGE           1
FLAG_DOCUMENT_2                  0
FLAG_DOCUMENT_3                  0
FLAG_DOCUMENT_4                  0
FLAG_DOCUMENT_5                  0
FLAG_DOCUMENT_6                  0
FLAG_DOCUMENT_7                  0
FLAG_DOCUMENT_8                  0
FLAG_DOCUMENT_9                  0
FLAG_DOCUMENT_10                 0
FLAG_DOCUMENT_11                 0
FLAG_DOCUMENT_12                 0
FLAG_DOCUMENT_13                 0
FLAG_DOCUMENT_14                 0
FLAG_DOCUMENT_15                 0
FLAG_DOCUMENT_16                 0
FLAG_DOCUMENT_17                 0
FLAG_DOCUMENT_18                 0
FLAG_DOCUMENT_19                 0
FLAG_DOCUMENT_20                 0
FLAG_DOCUMENT_21                 0
dtype: int64

### Merging bureau

In [12]:
#loading other tables in order to merge all of them
bureau = pd.read_csv('data/cleaned/bureau_cleaned.csv')
bureau_balance = pd.read_csv('data/cleaned/bureau_balance_cleaned.csv')

In [13]:
#merging tables
new_bureau = pd.merge(bureau, bureau_balance, on = 'SK_ID_BUREAU', how = 'inner')

del bureau
del bureau_balance

new_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,STATUS
0,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,0.0,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,-5,C
1,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,0.0,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,-6,C
2,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,0.0,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,-7,C
3,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,0.0,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,-8,C
4,380361,5715451,Closed,currency 1,-917,0,-187.0,-759.0,0.0,0,74439.0,0.0,0.0,0.0,Consumer credit,-748,0.0,-9,C

In [14]:
#aggregation operations
agg_data = {
    'SK_ID_BUREAU': 'count',
    'CREDIT_ACTIVE': lambda x: (x == 'Active').sum(),
    'CREDIT_CURRENCY': lambda x: x.mode().iloc[0],
    'DAYS_CREDIT' : 'mean',
    'CREDIT_DAY_OVERDUE': 'mean',
    'DAYS_CREDIT_ENDDATE': 'mean',
    'DAYS_ENDDATE_FACT': 'mean',
    'AMT_CREDIT_MAX_OVERDUE': 'max',
    'CNT_CREDIT_PROLONG': 'sum',
    'AMT_CREDIT_SUM': 'sum',
    'AMT_CREDIT_SUM_DEBT': 'sum',
    'AMT_CREDIT_SUM_LIMIT': 'sum',
    'AMT_CREDIT_SUM_OVERDUE': 'sum',
    'CREDIT_TYPE': lambda x: x.mode().iloc[0],
    'DAYS_CREDIT_UPDATE': 'mean',
    'AMT_ANNUITY': 'sum',
    'MONTHS_BALANCE' : 'mean'
}

In [16]:
#applying aggregation
new_bureau = new_bureau.groupby('SK_ID_CURR').agg(agg_data)

In [17]:
new_bureau.shape

(100245, 17)

In [18]:
#merging tables
new_train = pd.merge(train, new_bureau, on = 'SK_ID_CURR', how = 'inner')

del train
del new_bureau

new_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,...,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_y,MONTHS_BALANCE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0,4136742.0,0.0,0.0,0.0,Credit card,-781.085714,0.0,-24.814286
1,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0.0,0,11340000.0,0.0,0.0,0.0,Loan for business development,-1138.000000,0.0,-72.500000
2,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5,...,0.0,0,4725000.0,0.0,0.0,0.0,Credit card,-169.000000,0.0,-3.000000
3,100037,0,Cash loans,F,N,N,0,90000.0,199008.0,20893.5,...,0.0,0,17808165.0,0.0,0.0,0.0,Consumer credit,-1161.109312,0.0,-24.352227
4,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,0.0,0,68715.0,0.0,0.0,0.0,Microloan,-61.000000,0.0,-1.000000

In [19]:
new_train.shape

(64886, 122)

In [20]:
new_train.isnull().sum()

SK_ID_CURR                      0
TARGET                          0
NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
CNT_CHILDREN                    0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_ANNUITY_x                   8
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
REGION_POPULATION_RELATIVE      0
DAYS_BIRTH                      0
DAYS_EMPLOYED                   0
DAYS_REGISTRATION               0
DAYS_ID_PUBLISH                 0
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
FLAG_WORK_PHONE                 0
FLAG_CONT_MOBILE                0
FLAG_PHONE                      0
FLAG_EMAIL                      0
CNT_FAM_MEMBERS                 0
REGION_RATING_CLIENT            0
REGION_RATING_CLIENT_W_CITY     0
WEEKDAY_APPR_PROCESS_START      0
HOUR_APPR_PROCESS_START         0
REG_REGION_NOT_LIVE_REGION      0
REG_REGION_NOT_WORK_REGION      0
LIVE_REGION_NOT_WORK_REGION     0
REG_CITY_NOT_LIVE_CITY          0
REG_CITY_NOT_WORK_CITY          0
LIVE_CITY_NOT_WORK_CITY         0
ORGANIZATION_TYPE               0
APARTMENTS_AVG                  0
BASEMENTAREA_AVG                0
YEARS_BEGINEXPLUATATION_AVG     0
YEARS_BUILD_AVG                 0
COMMONAREA_AVG                  0
ELEVATORS_AVG                   0
ENTRANCES_AVG                   0
FLOORSMAX_AVG                   0
FLOORSMIN_AVG                   0
LANDAREA_AVG                    0
LIVINGAPARTMENTS_AVG            0
LIVINGAREA_AVG                  0
NONLIVINGAPARTMENTS_AVG         0
NONLIVINGAREA_AVG               0
APARTMENTS_MODE                 0
BASEMENTAREA_MODE               0
YEARS_BEGINEXPLUATATION_MODE    0
YEARS_BUILD_MODE                0
COMMONAREA_MODE                 0
ELEVATORS_MODE                  0
ENTRANCES_MODE                  0
FLOORSMAX_MODE                  0
FLOORSMIN_MODE                  0
LANDAREA_MODE                   0
LIVINGAPARTMENTS_MODE           0
LIVINGAREA_MODE                 0
NONLIVINGAPARTMENTS_MODE        0
NONLIVINGAREA_MODE              0
APARTMENTS_MEDI                 0
BASEMENTAREA_MEDI               0
YEARS_BEGINEXPLUATATION_MEDI    0
YEARS_BUILD_MEDI                0
COMMONAREA_MEDI                 0
ELEVATORS_MEDI                  0
ENTRANCES_MEDI                  0
FLOORSMAX_MEDI                  0
FLOORSMIN_MEDI                  0
LANDAREA_MEDI                   0
LIVINGAPARTMENTS_MEDI           0
LIVINGAREA_MEDI                 0
NONLIVINGAPARTMENTS_MEDI        0
NONLIVINGAREA_MEDI              0
FONDKAPREMONT_MODE              0
HOUSETYPE_MODE                  0
TOTALAREA_MODE                  0
WALLSMATERIAL_MODE              0
EMERGENCYSTATE_MODE             0
DAYS_LAST_PHONE_CHANGE          0
FLAG_DOCUMENT_2                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_9                 0
FLAG_DOCUMENT_10                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_12                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_20                0
FLAG_DOCUMENT_21                0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE             0
DAYS_ENDDATE_FACT               0
AMT_CREDIT_MAX_OVERDUE          0
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                  0
AMT_CREDIT_SUM_DEBT             0
AMT_CREDIT_SUM_LIMIT            0
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY_y                   0
MONTHS_BALANCE                  0
dtype: int64

In [21]:
#saving table into csv
new_train.to_csv('data/cleaned/application_train_cleaned.csv', index=False)

### Merging previous_application

In [22]:
new_train = pd.read_csv('data/cleaned/application_train_cleaned.csv')
previous_application = pd.read_csv('data/cleaned/previous_application_cleaned.csv')

In [23]:
#merging tables
final_table = pd.merge(new_train, previous_application, on = 'SK_ID_CURR', how = 'inner')

del new_train
del previous_application

final_table.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100037,0,Cash loans,F,N,N,0,90000.0,199008.0,20893.5,...,Consumer electronics,12.0,high,Cash X-Sell: high,365243.0,-509.0,-179.0,-209.0,-203.0,0.0
1,100048,0,Cash loans,F,N,Y,0,202500.0,604152.0,29196.0,...,XNA,12.0,XNA,Cash,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0
2,100050,0,Cash loans,F,N,Y,0,108000.0,746280.0,42970.5,...,XNA,12.0,XNA,Card Street,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0
3,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,XNA,12.0,XNA,Cash,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0
4,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,XNA,12.0,XNA,Card Street,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0

In [24]:
final_table.shape

(86805, 156)

In [25]:
final_table.isnull().sum()

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE_x             0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT_x                     0
AMT_ANNUITY_x                   29
NAME_INCOME_TYPE                 0
NAME_EDUCATION_TYPE              0
NAME_FAMILY_STATUS               0
NAME_HOUSING_TYPE                0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
DAYS_ID_PUBLISH                  0
FLAG_MOBIL                       0
FLAG_EMP_PHONE                   0
FLAG_WORK_PHONE                  0
FLAG_CONT_MOBILE                 0
FLAG_PHONE                       0
FLAG_EMAIL                       0
CNT_FAM_MEMBERS                  0
REGION_RATING_CLIENT             0
REGION_RATING_CLIENT_W_CITY      0
WEEKDAY_APPR_PROCESS_START_x     0
HOUR_APPR_PROCESS_START_x        0
REG_REGION_NOT_LIVE_REGION       0
REG_REGION_NOT_WORK_REGION       0
LIVE_REGION_NOT_WORK_REGION      0
REG_CITY_NOT_LIVE_CITY           0
REG_CITY_NOT_WORK_CITY           0
LIVE_CITY_NOT_WORK_CITY          0
ORGANIZATION_TYPE                0
APARTMENTS_AVG                   0
BASEMENTAREA_AVG                 0
YEARS_BEGINEXPLUATATION_AVG      0
YEARS_BUILD_AVG                  0
COMMONAREA_AVG                   0
ELEVATORS_AVG                    0
ENTRANCES_AVG                    0
FLOORSMAX_AVG                    0
FLOORSMIN_AVG                    0
LANDAREA_AVG                     0
LIVINGAPARTMENTS_AVG             0
LIVINGAREA_AVG                   0
NONLIVINGAPARTMENTS_AVG          0
NONLIVINGAREA_AVG                0
APARTMENTS_MODE                  0
BASEMENTAREA_MODE                0
YEARS_BEGINEXPLUATATION_MODE     0
YEARS_BUILD_MODE                 0
COMMONAREA_MODE                  0
ELEVATORS_MODE                   0
ENTRANCES_MODE                   0
FLOORSMAX_MODE                   0
FLOORSMIN_MODE                   0
LANDAREA_MODE                    0
LIVINGAPARTMENTS_MODE            0
LIVINGAREA_MODE                  0
NONLIVINGAPARTMENTS_MODE         0
NONLIVINGAREA_MODE               0
APARTMENTS_MEDI                  0
BASEMENTAREA_MEDI                0
YEARS_BEGINEXPLUATATION_MEDI     0
YEARS_BUILD_MEDI                 0
COMMONAREA_MEDI                  0
ELEVATORS_MEDI                   0
ENTRANCES_MEDI                   0
FLOORSMAX_MEDI                   0
FLOORSMIN_MEDI                   0
LANDAREA_MEDI                    0
LIVINGAPARTMENTS_MEDI            0
LIVINGAREA_MEDI                  0
NONLIVINGAPARTMENTS_MEDI         0
NONLIVINGAREA_MEDI               0
FONDKAPREMONT_MODE               0
HOUSETYPE_MODE                   0
TOTALAREA_MODE                   0
WALLSMATERIAL_MODE               0
EMERGENCYSTATE_MODE              0
DAYS_LAST_PHONE_CHANGE           0
FLAG_DOCUMENT_2                  0
FLAG_DOCUMENT_3                  0
FLAG_DOCUMENT_4                  0
FLAG_DOCUMENT_5                  0
FLAG_DOCUMENT_6                  0
FLAG_DOCUMENT_7                  0
FLAG_DOCUMENT_8                  0
FLAG_DOCUMENT_9                  0
FLAG_DOCUMENT_10                 0
FLAG_DOCUMENT_11                 0
FLAG_DOCUMENT_12                 0
FLAG_DOCUMENT_13                 0
FLAG_DOCUMENT_14                 0
FLAG_DOCUMENT_15                 0
FLAG_DOCUMENT_16                 0
FLAG_DOCUMENT_17                 0
FLAG_DOCUMENT_18                 0
FLAG_DOCUMENT_19                 0
FLAG_DOCUMENT_20                 0
FLAG_DOCUMENT_21                 0
SK_ID_BUREAU                     0
CREDIT_ACTIVE                    0
CREDIT_CURRENCY                  0
DAYS_CREDIT                      0
CREDIT_DAY_OVERDUE               0
DAYS_CREDIT_ENDDATE              0
DAYS_ENDDATE_FACT                0
AMT_CREDIT_MAX_OVERDUE           0
CNT_CREDIT_PROLONG               0
AMT_CREDIT_SUM                   0
AMT_CREDIT_SUM_DEBT              0
AMT_CREDIT_SUM_LIMIT             0
AMT_CREDIT_SUM_OVERDUE           0
CREDIT_TYPE                      0
DAYS_CREDIT_UPDATE               0
AMT_ANNUITY_y                    0
MONTHS_BALANCE                   0
SK_ID_PREV                       0
NAME_CONTRACT_TYPE_y             0
AMT_ANNUITY                      0
AMT_APPLICATION                  0
AMT_CREDIT_y                     0
AMT_DOWN_PAYMENT                 0
AMT_GOODS_PRICE                  0
WEEKDAY_APPR_PROCESS_START_y     0
HOUR_APPR_PROCESS_START_y        0
FLAG_LAST_APPL_PER_CONTRACT      0
NFLAG_LAST_APPL_IN_DAY           0
RATE_DOWN_PAYMENT                0
NAME_CASH_LOAN_PURPOSE           0
NAME_CONTRACT_STATUS             0
DAYS_DECISION                    0
NAME_PAYMENT_TYPE                0
CODE_REJECT_REASON               0
NAME_TYPE_SUITE                  0
NAME_CLIENT_TYPE                 0
NAME_GOODS_CATEGORY              0
NAME_PORTFOLIO                   0
NAME_PRODUCT_TYPE                0
CHANNEL_TYPE                     0
SELLERPLACE_AREA                 0
NAME_SELLER_INDUSTRY             0
CNT_PAYMENT                      0
NAME_YIELD_GROUP                 0
PRODUCT_COMBINATION              0
DAYS_FIRST_DRAWING               0
DAYS_FIRST_DUE                   0
DAYS_LAST_DUE_1ST_VERSION        0
DAYS_LAST_DUE                    0
DAYS_TERMINATION                 0
NFLAG_INSURED_ON_APPROVAL        0
dtype: int64

In [26]:
#column renaming (test)
final_table['AMT_ANNUITY_x'].fillna(final_table['AMT_ANNUITY_x'].median(), inplace=True)

In [28]:
#saving table into csv
final_table.to_csv('data/cleaned/final_table.csv', index=False)